<div class="container">
    <h1>{{Mensaje}}</h1>
    <form [formGroup]="form" (ngSubmit)="enviar()">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" formControlName="correo" required><br>

        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" formControlName="contrasena" required><br>

        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmcontrasena" required><br>

        <input type="submit" value="Restablecer Contraseña">
    </form>
</div>
