<h1>{{ Mensaje }}</h1>
<div class="container">
    <h1>Formulario de Registro</h1>
    <form [formGroup]="form" (ngSubmit)="enviar()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" formControlName="nombre" required><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" formControlName="apellido" required><br>

        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" formControlName="correo" required><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" formControlName="contrasena" minlength="8" required><br>

        <input type="submit" value="Registrarse">
    </form>
</div>
